.signup-bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-heading {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
}

@media (min-width: 580px) {
  .signup-heading {
    font-size: 20px;
  }
}

.signup-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

@media (min-width: 580px) {
  .signup-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }
}

.form-container {
  width: 95%;
}

.form-control {
  margin-bottom: 10px;
  width: 95% !important;
}

.signup-label {
  font-family: 'Roboto';
  font-size: 10px;
}

@media (min-width: 580px) {
  .signup-label {
    font-family: 'Roboto';
    font-size: 15px;
  }
}

.error-msg {
  color: red;
  font-size: 10px;
}

@media (min-width: 580px) {
  .error-msg {
    font-size: 15px;
  }
}
